    </div>
  </main>

  <footer class="kst-footer">
  <div class="kst-container">
    <p>&copy; <%= new Date().getFullYear() %> Estudos do Kauê - Feito para organizar os estudos e se manter focado</p>
  </div>
</footer>

<!-- BOTÃO FLUTUANTE - SAIR DO MODO FOCO -->
<button id="kstExitFocus" class="kst-exit-focus-btn">Sair do foco</button>


  <!-- Chart.js para os gráficos de estatísticas -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
