/* BASE */
@import url("./base/reset.css");
@import url("./base/tokens.css");

/* LAYOUT */
@import url("./layout/global.css");
@import url("./layout/header.css");
@import url("./layout/footer.css");

/* COMPONENTS */
@import url("./components/nav.css");
@import url("./components/buttons.css");
@import url("./components/cards.css");
@import url("./components/forms.css");
@import url("./components/tables.css");

/* UTILS */
@import url("./utils/responsive.css");
