/* ============================
   LAYOUT GLOBAL
============================ */

.kst-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.kst-main {
  padding: 1.5rem 0 3rem;
}